Header set Expires "Sat, 14 Jan 2012 17:15:47 GMT"
Header set Cache-Control "no-store, no-cache, must-revalidate post-check=0, pre-check=0"
Header set Pragma "no-cache"

Header add Access-Control-Allow-Origin "*"